.a2zpm-clearfix {
  clear: both;
}
.a2zpm-loader {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/spinner-2x.gif') center center no-repeat;
  z-index: 99;
  background-size: 20px;
}
.blockUI.a2zpm-block-msg {
  border: none !important;
}
.blockUI.a2zpm-block-msg .a2zpm-loader {
  background-size: 30px;
  width: 30px;
  height: 30px;
}
.a2zpm-hide {
  display: none;
}
.a2zpm-right {
  float: right;
}
.a2zpm-left {
  float: left;
}
.bootbox .modal-dialog {
  top: 20%;
}
.multiselect {
  border-bottom: 1px solid #eee;
}
.multiselect .multiselect__tags {
  border: none;
  background: none;
}
.multiselect .multiselect__tags input {
  border: none;
  box-shadow: none;
  transition: none;
  background: none;
}
.multiselect .multiselect__tags .multiselect__spinner {
  background: none;
}
.a2zpm-label {
  display: inline;
  padding: .3em .7em .4em;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .20em;
}
.a2zpm-label.label {
  background-color: #777777;
}
.a2zpm-label.label[href]:hover,
.a2zpm-label.label[href]:focus {
  background-color: #5e5e5e;
}
.a2zpm-label.label-default {
  background-color: #777777;
}
.a2zpm-label.label-default[href]:hover,
.a2zpm-label.label-default[href]:focus {
  background-color: #5e5e5e;
}
.a2zpm-label.label-primary {
  background-color: #428bca;
}
.a2zpm-label.label-primary[href]:hover,
.a2zpm-label.label-primary[href]:focus {
  background-color: #3071a9;
}
.a2zpm-label.label-success {
  background-color: #5cb85c;
}
.a2zpm-label.label-success[href]:hover,
.a2zpm-label.label-success[href]:focus {
  background-color: #449d44;
}
.a2zpm-label.label-error {
  background-color: #d9534f;
}
.a2zpm-label.label-error[href]:hover,
.a2zpm-label.label-error[href]:focus {
  background-color: #c9302c;
}
.a2zpm-label.label-info {
  background-color: #5bc0de;
}
.a2zpm-label.label-info[href]:hover,
.a2zpm-label.label-info[href]:focus {
  background-color: #31b0d5;
}
.a2zpm-label.label-warning {
  background-color: #f0ad4e;
}
.a2zpm-label.label-warning[href]:hover,
.a2zpm-label.label-warning[href]:focus {
  background-color: #ec971f;
}
form.a2zpm-from-horizontal .form-group {
  margin: 10px 0px;
  width: 100%;
}
form.a2zpm-from-horizontal .form-group .form-control {
  border: none;
  box-shadow: none;
  transition: none;
  width: 100%;
  padding: 11px;
  border-bottom: 1px solid #eee;
  background: none;
  box-sizing: border-box;
}
form.a2zpm-from-horizontal .form-group .form-control.selectize-control {
  padding: 0px;
}
form.a2zpm-from-horizontal .form-group .form-control.selectize-control .selectize-input {
  border: none;
  box-shadow: none;
  transition: none;
  background: none;
}
form.a2zpm-from-horizontal .form-group .form-control.selectize-control.a2zpm-serach-user:before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 10px;
  right: 0px;
  width: 16px;
  height: 16px;
  background: url(../images/spinner-2x.gif);
  background-size: 16px 16px;
  opacity: 0;
}
form.a2zpm-from-horizontal .form-group .form-control.selectize-control.a2zpm-serach-user.loading:before {
  opacity: 0.8;
}
form.a2zpm-from-horizontal .form-group .form-control.selectize-control .selectize-dropdown {
  border: 1px solid #ffffff;
  background: #ffffff;
  display: none;
  margin: 0px;
  z-index: 99999;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#a2zpm-projects .project-section {
  height: 100%;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item {
  width: 32.4444%;
  float: left;
  background: #fff;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item:nth-child(3n) {
  margin-right: 0px;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-header {
  padding: 10px;
  line-height: 25px;
  background: #fafafa;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-header h2 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-header span.settings {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #333;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-header span.settings a {
  text-decoration: none;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-header span.settings a.dropdown-toggle {
  padding: 5px 8px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #9a9a9a;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-content {
  padding: 15px 10px;
  min-height: 170px;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-content .project-item-category {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  font-size: 12px;
  color: #9a9a9a;
  font-style: italic;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-footer {
  padding: 10px;
  background: #fafafa;
  height: 30px;
  line-height: 30px;
}
#a2zpm-projects .project-section .project-wrapper .project-list ul li.project-item .project-item-footer .date {
  font-style: italic;
  color: #9a9a9a;
}
#a2zpm-projects .project-section .project-wrapper.slide {
  width: 60.667%;
  float: left;
}
#a2zpm-projects .project-section .project-wrapper.slide ul li.project-item {
  width: 49%;
  margin-right: 1%;
}
#a2zpm-projects .project-section .project-wrapper.slide ul li.project-item:nth-child(3n) {
  margin-right: 1%;
}
#a2zpm-projects .project-section .project-wrapper.slide ul li.project-item:nth-child(2n) {
  margin-right: 0px;
}
#a2zpm-projects .project-section .sidebar-section {
  background: #FFF;
  width: 31.66667%;
  position: fixed;
  top: 31px;
  right: 0px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  z-index: 10;
}
#a2zpm-projects .project-section .sidebar-section .header {
  padding: 13px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
#a2zpm-projects .project-section .sidebar-section .header.shadow {
  -webkit-box-shadow: 0 4px 10px -6px #000000;
  -moz-box-shadow: 0 4px 10px -6px #000000;
  -o-box-shadow: 0 4px 10px -6px #000000;
  -ms-box-shadow: 0 4px 10px -6px #000000;
  box-shadow: 0 4px 10px -6px #000000;
  width: 100%;
  position: fixed;
  z-index: 99999;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
#a2zpm-projects .project-section .sidebar-section .header h1 {
  margin: 5px 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
}
#a2zpm-projects .project-section .sidebar-section .content {
  padding: 5px 15px 5px 13px;
  background: #fafafa;
  overflow-y: scroll;
}
#a2zpm-projects .project-section .sidebar-section .footer {
  padding: 13px;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 999;
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
